<html ng-app="custom-webapp-ui" lang="en">
  <head>
    <!-- Load the Telegram Library -->
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <!--Load the AngularJS Library-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script>
      //initialize the AngularJS stuff...
      angular.module("custom-webapp-ui", []).controller('CustomUIController', function CustomUIController($scope) {
        //init our slider values that we will display
        $scope.accounts = [
                { name: "hh", value: ""},
                { name: "linkedin", value: "" },
                { name: "twitter", value: "" },
                { name: "facebook", value: "" },
                { name: "crunchbase", value: "" },
            ];
      });
      const mainButton = window.Telegram.WebApp.MainButton;
      mainButton.text = "Save Profile";
      mainButton.enable();
      mainButton.show();
      mainButton.onClick(function(){
        window.Telegram.WebApp.sendData(JSON.stringify($scope.foods));
      })
    </script>
  </head>
  <body ng-controller="CustomUIController">
    <div ng-repeat="account in accounts">
      <div style="width: 100px; display: inline-block">{{food.name}} : {{food.value}}</div>
      <input style="display: inline-block" type="text" ng-model="account.value" value="{{account.value}}">
    </div>
  </body>
</html>
